<a href="https://colab.research.google.com/github/anu577/python/blob/main/Python_loops_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
j=2
while(j<=100):
    print(j)
    j+=1

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
for i in range(1,10):

    if(i==5 or i==8):
       continue
    print(i)

1
2
3
4
6
7
9

In [ ]:
for i in range(2,101):
   for j in range(2,i):
        if(i%j==0):
           break
   else:
           print(i,end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [ ]:
for i in range(2, 101):
    for j in range(2, 101):
        if i % j == 0:
            break
    if(i==j):
        print(i, end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [ ]:
i=2
while(i<101):
    j=2
    while(j<i):
        if(i%j==0):
            break
        j+=1
    if(i==j):
        print(i)
    i+=1

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
n=int(input())
for i in range(1,11):


   print(n,"x",i,"=",n*i,)

34
34 x 1 = 34
34 x 2 = 68
34 x 3 = 102
34 x 4 = 136
34 x 5 = 170
34 x 6 = 204
34 x 7 = 238
34 x 8 = 272
34 x 9 = 306
34 x 10 = 340

In [ ]:
n=int(input())
fact=1
for i in range (1,n+1):
    fact*=i
    print(fact)

5
1
2
6
24
120

In [ ]:
n=int(input())
for num in range(2,n):
    for i in range(2,num):
        if(num%i==0):
            break
    else:
        print(num,end=" ")

100
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [ ]:
n=int(input())
a,b=0,1
for i in range(n):
    print(a,end=" ")
    a,b=b,b+a

34
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229 832040 1346269 2178309 3524578

In [ ]:
n=int(input())
count=0
while(n>0):
   n=n//10
   count+=1
   print(count)

34
1
2

In [ ]:
n=int(input())
s=str(n)
if s==s[::-1]:
    print(" it is a palindrome")
else:
    print("not palindrome")

123321
 it is a palindrome